form {
    display: inline-grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
    padding: 20px
}

label {
    justify-self: right;
}

.content {
    padding: 20px;
    max-width: max-content;
}

.submit {
    grid-column: 2/3;
    justify-self: left;
}

input:focus:invalid {
    border: 2px solid red;
  }